.free-dic {
    text-align: center;
    margin: 112px;
}
.free-dic h1{
    color: red;
    font-size: 63px;
    font-family: math;
}
.dic-search input{
    width: 236px;
    padding: 10px;
    border: 2px solid green;
}
.dic-search button {
    padding: 9px;
    width: 68px;
    border: 2px solid black;
    background: red;
    color: white;
}
.showresults {
    font-size: 24px;
    margin: 0px 530px;
    width: 500px;

}
.showresults>h2>button {
    background: none;
    border: none;
    cursor: pointer;
}
.showresults h4 {
    font-family: math;
}
.showresults p {
    color: red;
}
.showresults h2{
    color: cadetblue;
    font-family: cursive;
}


/* @media quries  */

@media screen and (max-width:1024px) {
    .showresults {
        margin: 0px 300px;
    }
}
@media screen and (max-width:768px) {
    .showresults {
        margin: 0px 137px;
    }
}
@media screen and (max-width:490px) {
    .showresults {
        font-size: 24px;
        margin: 0px 18px;
        width: 263px;
    }

    .free-dic {
        margin: 0px;
    }
    .dic-search input {
        width: 194px;
    }
}